/* 
 *  JettyDesktop is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  Free Software Foundation,version 3.
 *  
 *  JettyDesktop is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  If not, see http://www.gnu.org/licenses/
 *  
 *  Additional permission under GNU GPL version 3 section 7
 *  
 *  If you modify this Program, or any covered work, by linking or combining 
 *  it with any of the JARS listed in the README.txt (or a modified version of 
 *  (that library), containing parts covered by the terms of that JAR, the 
 *  licensors of this Program grant you additional permission to convey the 
 *  resulting work. 
 *  
 *  https://github.com/aw20/jettydesktop
 *  
 *  February 2016
 */
/* ALERTS */
.exitDialog {
    -fx-background-color: #ff0066;
    -fx-text-fill: #f9d900;
    /*-fx-background-color: whitesmoke;*/
}

.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane .label {
    -fx-text-fill: black;
    -fx-font-size: 1.2em;
}

.dialog-pane:header .header-panel {
    -fx-background-color: white;
    -fx-border-width: 0.0 0.0 1 0.0;
    -fx-border-color: #cccccc;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 1.5em;
}

.dialog-pane .button {
	-fx-pref-width: 70px;
	-fx-background-color: transparent;
  	-fx-pref-height: 30px;
  	-fx-pref-width: 75px;
  	-fx-text-fill: #0076a8;
  	-fx-background-insets: 0;
  	-fx-padding: 0 0.8em;
  	-fx-border-width: 0px;
  	-fx-cursor: hand;
}
