<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>

		<script src="jquery-1.11.3.min.js"></script>
  		<script src="jquery-ui.js"></script>
		<link rel="stylesheet" href="jetty.css" type="text/css" />
		<script src="jetty.js"></script>

		<title>jetty test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	</head>

	<body>


	<div class="header">
		<div id="header_{x}" class="hide head">
			<a class="j_info"><b class="aro"></b></a>
			<p>
				<span id="info_name_{x}"></span>
				&ndash;
				<span id="info_host_{x}"></span>
			</p>
			<p><small id="info_dir_{x}">E:\w50\webapp\trunk\webapp</small></p>
		</div>
	</div>

	<div id="dialog" title="Are you sure?">
		<span id="dialogText"></span>
    </div>

	<div class="nav" id="nav">
		<div id="items"></div>
		<button class="addwebapp"><span>+</span> add webapp</button>
	</div>


	<div class="main">

		<div class="tabs">
			<a class="tab j_settings hide">settings</a>
			<a class="tab j_console active hide">console</a>

			<!--- <a class="tab j_html" style="float: right;">html</a> --->
		</div>




		<div id="console_template" class="console">
		</div><!-- console -->

		<div class="noapps hide">
			<p class="jetty_version hide">{j}</p>
			<p>View <a class="github_link" href="javascript:void(0)">Jetty on Github</a> for more information.</p>
		    <p id="noappsInfo"></p>
		    <a class="newapp" id="noappsButton"></a>
		</div>


		<div id="plugin_form" class="hide">
			<fieldset>
				<legend>plugins</legend>
				<div class="plugin_template">
					<div class="control hide">
						<label for="plugin_name_{p}"></label>
						<input id="plugin_name_{p}" type="checkbox" value="{p}"><span id="plugin_{p}"></span></input>
					</div>
				</div>
			</fieldset>
		</div><!-- plugins -->

		<div class="footer hide" id="plugin_footer">
			<button id="btn_add_plugins">add plugins</button>
		</div>


		<div class="footer hide console_footer" id="console_footer">
			<div class="console-info">
				<p id="memory_{x}" class="hide"></p><p id="lastupdate_{x}" class="hide"></p>
			</div>

			<button id="btn_open">open</button>
			<button id="btn_clear">clear</button>
			<button id="btn_start" class="start">start</button>
			<button id="btn_stop" class="stop hide">stop</button>
		</div>


		<div class="settings hide">
			<div id="edit_{x}" class="template hide edit">
				<fieldset>
					<legend>Server name</legend>
					<div class="control">
						<label for="form_name">Name</label>
						<input id="form_name_{x}" type="text" />
					</div>

					<div class="control">
						<label for="form_ip">IP address</label>
						<input id="form_ip_{x}" type="text" class="inline" />
					</div>

					<div class="control">
						<label for="form_port">Port</label>
						<input id="form_port_{x}" type="text" class="inline" />
					</div>
				</fieldset>

				<fieldset>
					<legend>Web application</legend>
					<div class="control">
						<label for="form_web_folder">web folder</label>
						<input type="text" id="form_web_folder_{x}_text"/>
						<input type="button" value="get folder" id="form_web_folder_{x}" class="btn select_server" />
					</div>

					<div class="control">
						<label for="form_uri">default URI</label>
						<input id="form_uri_{x}" type="text" />
					</div>
				</fieldset>

				<fieldset>
					<legend>Java virtual machine</legend>
					<div class="control">
						<label>runtime</label>
						<div class="listit">
							<input type="radio" class="radio_button defaultjvm" name="jvm-selector_{x}" id="form_radio_hotspot_{x}" checked />
							<label id="form_label_java_{x}" class="default-jvm"></label>
						</div>
						<div class="listit">
							<input type="radio" class="radio_button" name="jvm-selector_{x}" id="form_radio_custom_{x}" />
							<label>Custom JVM</label>
							<input type="text" id="form_customjvm_{x}_text" class="select_java"/>
							<input type="button" value="browse" id="form_customjvm_{x}" class="btn select_java" />
						</div>
						<div class="listit">
							<label>JVM Arguments</label>
							<input type="text" id="form_jvmargs_{x}" />
						</div>
					</div>

					<div class="control">
						<label for="">Memory</label>
						<input type="text" class="inline" id="form_memory_{x}"/> MB
					</div>
				</fieldset>
			</div>
		</div><!-- settings -->
		<div class="footer settings_footer" id="settings_footer">
			<button id="btn_save_{x}" class="j_save hide">save</button>
			<button id="btn_cancel_{x}" class="j_cancel hide">cancel</button>
			<button id="btn_delete_{x}" class="delete hide" disabled>delete</button>
		</div>

	</div><!-- main -->

	</body>
</html>
