/* -------------
Import the files
------------- */
/* sass variables */
/* Argument */
/* sass mixins */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: separate;
  *border-collapse: collapse;
  border-spacing: 0;
}

/* Padding is not added to width of elements, so you can set div etc to the size you want */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.group:before, .group:after {
  content: "";
  display: table;
}

/* For modern browsers */
.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 0 0 225px;
  font-family: sans-serif, arial;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body.slidedown {
  padding-top: 50px;
}

a {
  color: gray;
  font-size: 0.9em;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a:hover {
  color: #4e4e4e;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

h3 {
  height: 35px;
  margin: 0;
  padding: 0 0.8em;
  color: whitesmoke;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 34px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

h5 {
  margin: 0 0 0.8em;
  padding: 0 0 0.5em;
  color: #a8a8a8;
  font-size: 0.9em;
  font-weight: normal;
  border-bottom: 1px solid #f0f0f0;
}

.hide {
  display: none !important;
}

pre {
  margin: 0;
  font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.8em;
  line-height: 1.3;
}

.btn {
  background-color: #d0d0d0;
  display: inline-block;
  height: 35px;
  padding: 0 0.8em;
  color: #6c6c6c;
  font-family: sans-serif, arial;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 35px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
}
.btn:hover {
  background-color: #cacaca;
  color: #2381c1;
}
.btn:disabled {
  background-color: transparent;
  color: #b2b2b2;
}

.main {
  background-color: #dadada;
  position: relative;
  height: 100%;
  padding: 35px 0 44px 0;
}

.header {
  background-color: #0076a8;
  position: absolute;
  top: -50px;
  right: 0;
  left: 225px;
  height: 50px;
  padding: 5px 55px 0 0.8em;
  z-index: 99;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header p {
  color: white;
  font-size: 0.9em;
  line-height: 1.4;
}
.header small {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9em;
}
.header a {
  background-color: #006894;
  position: absolute;
  top: 50px;
  right: 0;
  height: 34px;
  width: 44px;
  text-align: center;
}
.header a .aro {
  background-image: url("arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  display: block;
  height: 32px;
  width: 32px;
  margin: 1px 0 0 6px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header.slidedown {
  top: 0;
}
.header.slidedown a {
  top: 0;
  height: 50px;
}
.header.slidedown a .aro {
  margin: 9px 0 0 6px;
  transform: rotate(180deg);
}

.nav {
  background-color: #222d35;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 225px;
  padding: 0 0 45px 0;
}
.nav > div {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
.nav a {
  position: relative;
  display: block;
  height: 32px;
  padding: 0 0.7em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9em;
  line-height: 32px;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.nav a .icon {
  background-color: rgba(255, 255, 255, 0.2);
  float: left;
  height: 10px;
  width: 10px;
  margin: 11px 8px 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.nav a .action {
  background-color: #1c252c;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  height: 32px;
  width: 32px;
}
.nav a .action:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 11px;
  border-color: transparent transparent transparent #b2b2b2;
  border-style: solid;
  border-width: 6px 10px;
}
.nav a .action:hover:after {
  border-color: transparent transparent transparent #00a651;
}
.nav a:hover {
  background-color: #1c252c;
  color: rgba(255, 255, 255, 0.9);
}
.nav a:hover .action {
  display: block;
}
.nav a.running .icon {
  background-color: #0076a8;
}
.nav a.running .action:after {
  top: 11px;
  border-color: #b2b2b2;
  border-width: 5px;
}
.nav a.running .action:hover:after {
  border-color: #c13c41;
}
.nav a.current {
  background-color: #1c252c;
  color: white;
}
.nav .addwebapp {
  background-color: #1c252c;
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  padding: 0 0.7em;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.nav .addwebapp span {
  color: #0076a8;
}
.nav .addwebapp:hover {
  background-color: #1c252c;
  color: white;
}

.tabs {
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  height: 35px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
.tabs a {
  float: left;
  height: 35px;
  padding: 0 1em;
  color: #949494;
  line-height: 34px;
  cursor: pointer;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.tabs a:first-child {
  border-left: none;
}
.tabs a.active {
  background-color: white;
  color: #444444;
  border-color: #e6e6e6;
}

.console {
  background-color: white;
  height: 100%;
  padding: 0.75em;
  overflow: auto;
}

.settings {
  background-color: white;
  height: 100%;
  padding: 0.75em 0;
  overflow-y: auto;
}

.noapps {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: -75px auto 0;
  padding: 0.75em;
  color: gray;
  text-align: center;
}

.noapps p {
	line-height: 1.4;
}

.noapps p a {
	font-size: 1em;
	color: #0076a8;
}

.noapps .newapp {
  display: inline-block;
  margin: 0.5em 0 0;
  padding: 0.5em 0.8em;
  color: #0076a8;
  font-size: 1em;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.noapps .newapp:hover {
  background-color: #0076a8;
  color: white;
}

.control {
  display: inline-block;
  width: 100%;
  padding: 0 0 0.5em 120px;
  line-height: 30px;
}

fieldset {
  max-width: 600px;
  margin: 0;
  padding: 0.8em;
  border: none;
}

legend {
  display: block;
  width: 100%;
  margin: 0 0 0.4em;
  padding: 0 0 0.4em;
  color: gray;
  font-size: 0.9em;
  border-bottom: 1px solid gainsboro;
}

label {
  float: left;
  width: 110px;
  margin-left: -120px;
  padding: 0 5px 0 0;
  font-size: 0.9em;
  line-height: 30px;
  text-align: right;
}

input[type="text"], input[type="button"] {
  float: left;
  height: 30px;
  width: 75%;
  margin: 0 5px 0 0;
  padding: 0 0.8em;
  line-height: 28px;
  border: 1px solid #c8c8c8;
}
input[type="text"].inline, input[type="button"].inline {
  width: auto;
}

input[type="button"] {
  background-color: transparent;
  width: auto;
  margin: 0;
  color: #0076a8;
  font-size: 0.8em;
  -webkit-appearance: none;
}

input[type="button"]:hover {
  background-color: #0076a8;
  color: white;
  border-color: #0076a8;
}

.listit {
  display: inline-block;
  width: 100%;
  margin: 0 0 0.5em;
}

.listit input[type="radio"] {
  float: left;
  margin: 9px 5px 0 0;
}

.listit label {
  width: 90%;
  margin: 0;
  text-align: left;
}

.footer {
  background-color: whitesmoke;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 45px;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.footer p {
  float: left;
  padding: 0 0.8em;
  margin: 0;
  color: #444444;
  font-size: 0.8em;
  line-height: 44px;
}

.footer button {
  float: right;
  height: 44px;
  padding: 0 1em;
  color: #0076a8;
  font-size: 0.9em;
  line-height: 44px;
}
.footer button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.footer button.delete {
  color: #d31e25;
}
.footer button:disabled {
  background-color: transparent;
  color: #a8a8a8;
}

.ui-dialog {
  background-color: white;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  outline: 0;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.ui-dialog .ui-dialog-titlebar {
  position: relative;
  height: 45px;
  padding: 0 44px 0 0.8em;
  border-bottom: 1px solid #e6e6e6;
}

.ui-dialog .ui-dialog-title {
  float: left;
  padding: 0.9em 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
.ui-dialog .ui-dialog-titlebar-close .ui-icon:after {
  content: 'x';
  color: #0076a8;
  font-size: 1.1em;
}

.ui-dialog .ui-dialog-content {
  background: none;
  position: relative;
  padding: 0.8em;
  font-size: 0.9em;
  overflow: auto;
}

.ui-dialog .ui-dialog-buttonpane {
  height: 45px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
  height: 44px;
  padding: 0 1em;
  color: #0076a8;
  font-size: 0.9em;
  line-height: 44px;
}
.ui-dialog .ui-dialog-buttonpane button:hover {
  color: #444444;
}

.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}
