/* jetty css */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 50px 0;
	font-family: sans-serif, arial;
}

a {
	color: rgb(98, 98, 98);
	font-size: 0.9em;
	text-decoration: none;
}

a:hover {
	color: rgb(35, 129, 193);
}

h1 {
	background-image: url('logo.png');
	background-position: 0 12px;
	background-repeat: no-repeat;
	background-size: 30px;
	float: left;
	margin: 0;
	padding: 0 0 0 35px;
	color: rgb(78, 78, 78);
	font-size: 1.1em;
	font-weight: normal;
	line-height: 50px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

h3 {
	margin: 0;
	padding: 0.5em 0.8em;
	color: rgb(245, 245, 245);
	font-size: 1em;
	font-weight: normal;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hide {
	display: none !important;
}

pre {
	margin: 0;
	font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 0.8em;
	line-height: 1.3;
}

.btn {
	background-color: rgb(208, 208, 208);
	display: inline-block;
	padding: 0.4em 0.6em;
	color: rgb(108, 108, 108);
	font-size: 0.9em;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
}

.btn:hover {
	background-color: rgb(202, 202, 202);
	color: rgb(35, 129, 193);
}

.btn:disabled {
	background-color: rgb(235, 235, 235);
	color: rgb(178, 178, 178);
}

.main {
	background-color: rgb(218, 218, 218);
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0 0 0 200px;
}


/* header */
.header {
	background-color: rgb(225, 225, 225);
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	padding: 0 0.8em;
}

.header .info {
	background-color: rgb(225, 225, 225);
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	padding: 0 0.8em;
}

.header .btn {
	float: right;
	margin: 11px 0.5em 0 0;
}

.header .addwebapp {
	background-color: rgb(35, 129, 193);
	color: rgb(245, 245, 245);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.header .addwebapp:hover {
	background-color: rgb(30, 121, 183);
	color: rgb(255, 255, 255);
}

.header a {
	float: right;
	margin: 17px 0 0;
	font-weight: bold;
}


/* webapp list */
.nav {
	background-color: rgb(68, 72, 82);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 200px;
	overflow-y: auto;
}

.nav a {
	display: block;
	padding: 0.4em 0.8em;
	color: rgb(200, 200, 200);
	font-size: 0.9em;
	text-decoration: none;
}

.nav a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.nav a.current {
	background-color: rgb(0, 128, 128);
	color: rgb(255, 255, 255);
}


/* content blocks*/
.console {
	background-color: rgb(255, 255, 255);
	height: 100%;
	padding: 1em;
	overflow-y: auto;
}

.editoptions {
	background-color: rgb(255, 255, 255);
	height: 100%;
	padding: 1em;
	overflow-y: auto;
}


/* form styling */
.control {
	display: inline-block;
	padding: 0 0 0.5em 160px;
}

fieldset {
	margin: 0 0 0.8em;
	padding: 0;
	border: none;
}

legend {
	display: block;
	width: 100%;
	margin: 0 0 0.4em;
	padding: 0 0 0.4em;
	color: rgb(128, 128, 128);
	font-size: 0.9em;
	border-bottom: 1px solid rgb(220, 220, 220);
}

label {
	float: left;
	width: 150px;
	margin-left: -160px;
	padding: 0 5px 0 0;
	font-size: 0.9em;
	line-height: 30px;
	text-align: right;
}

input[type="text"], input[type="button"] {
	height: 30px;
	margin: 0;
	padding: 5px;
	border: 1px solid rgb(200, 200, 200);
}

.listit {
	display: inline-block;
	margin: 0 0 0.5em;
}

.listit input[type="radio"] {
	float: left;
	margin: 9px 5px 0 0;
}

.listit label {
	width: auto;
	margin: 0;
}


/* footer */
.footer {
	background-color: rgb(225, 225, 225);
	position: fixed;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	padding: 0 0.8em;
}

.footer .btn {
	float: left;
	margin: 11px 0.5em 0 0;
}

.footer .right {
	float: right;
	margin: 11px 0 0 0.5em;
}
